button,
    div,
    form,
    input {
      margin: 1em;
      padding: 3px;
    }
#favorite{
  background-color: darkslategray;
  color: azure;
}

#header {
  float: left;
  font-size: 18px;

  font-family: 'Patua One', cursive;

 
}

input{
  float: left;
}
button{
  background-color: cadetblue;
  color: white;
  padding: 2em;
  border: solid 2px black;
}

.container {
  background-color: mintcream;
  border: solid 2px darkseagreen;
}

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkslategray;
}

#textTop {
  font-family: 'Patua One', cursive;
  font-size: 3em;
  padding: 0px;
}